version: '3'
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                - A_DEBUG=False
        restart: unless-stopped
        ports:
            - "5000:5000"
        depends_on: 
            - redis
    redis:
        image: redis
        restart: unless-stopped
